<section class="mt-2">
    <div class="container-fluid">
        <div class="row align-items-md-stretch">
    <div class="col-12 col-md-6 ">
      <div class="h-100  text-bg-dark d-flex flex-column justify-content-center  text-center p-4">
        <h2>Change the background</h2>
        <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
        <button class="btn btn-outline-light" type="button">Example button</button>
      </div>
    </div>
    <div class="col-12 col-md-6 ">
      <div class="h-100  text-bg-dark p-4 ">
       <img src="../../../assets/images/device-1295187_1280.png" class="img-fluid" walt="">
      </div>
    </div>
  </div>
    </div>


</section>
