<div class="container-fluid">
    <div class="row featurette">
    <div class="col-md-5 m-auto p-2 d-flex flex-column justify-content-center p-4">
      <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
      <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
    </div>
    <div class="col-md-5 m-auto">
<img src="../../../assets/images/arduino-4753005_1280.jpg" class="img-fluid" alt="">
    </div>
  </div>
</div>
