<header >
    <div  class="container d-flex flex-column h-100 justify-content-center   text-light">
      <div class="col-10 col-lg-6 m-auto ms-md-2">
        <h2 class="mb-4 display-1 "><strong>Raspberry 4</strong></h2>
        <p class="">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa qui
          placeat voluptatibus necessitatibus, cum, iusto corporis, laborum
          tempore quidem at quos architecto error nulla voluptate. Nesciunt
          consectetur nisi dicta iure est eius iusto asperiores ullam repudiandae,
          
        </p>
      </div>
    </div>
  </header>
  